@charset "UTF-8";

body{
font-family: 'Roboto Condensed', sans-serif;
}

#content {
	min-height: 700px;
	background: #f1f1f1;
	padding:12px;
}

table {
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
#content-header h4 {
	padding:6px;
	border-bottom:2px solid #a0a6a0;
}

